[user]
	email = iorinu@users.noreply.github.com
	name = iorimacbook
[ghq]
	root = ~/src
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[init]
	defaultBranch = main
